html,body{
  height: 100%;
}
img{
  width: 100%;
  display: block;
}
*{
  margin:0;
  padding:0;
  list-style: none;
}
.container{
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  padding-top: 45px;
  padding-bottom: 55px;
  margin:0 auto;
}
/*乐淘头部*/
.lt_header{
  width: 100%;
  max-width: 640px;
  height: 45px;
  background-color:#069;
  position: fixed;
  top:0;
  color: #fff;
  z-index: 999;
}
.lt_header .lt_home,.lt_search{
  color: #fff;
  width: 45px;
  height: 45px;
  position: absolute;
  top:0;
  text-align: center;
  line-height: 45px;
}

.lt_header .lt_search {
  right: 0;
}
.lt_header .lt_home {
  left:0;
}
.lt_header .lt_cloud{
  height: 45px;
  margin: 0 45px 0 45px;
}
.lt_header .lt_cloud h4{
  margin:0;
  line-height: 45px;
  text-align: center;
}
/*底部*/
.lt_footer{
  width: 100%;
  max-width: 640px;
  height: 45px;
  background-color:#069;
  position: fixed;
  bottom:0;
  z-index: 998;
  margin:0 auto;
}
.lt_footer li{
  width: 25%;
  float: left;
  text-align: center;
  padding-top: 5px;
}
.lt_footer li a{
  color: #fff;

}
.lt_footer li a p{
  font-size: 12px;
}
.lt_footer li.new a{
  color: darkorange;
}
.lt_footer li.new p{
  color: darkorange;
}
.lt_content {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
}
/*商品列表页及详情展示*/
.det_show{
  padding:10px;
}
.det_show .item{
  float: left;
  width:48%;
  border:1px solid #ccc;
  text-align: center;
  padding: 10px;
  margin-top:10px
}
.det_show .item .col_blue{
  color: #007aff;
}
.det_show .item p span:first-child{
  color: red;
}
.det_show .item p span:nth-child(2){
  text-decoration: line-through;
}
.det_show .loading{
  width: 40px;
  height: 40px;
  border: 3px solid #069;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  animation:circle 1s infinite;
}
@keyframes circle {
  from{
    transform: translateX(-50%) rotate(0deg);
  }
  to{
    transform: translateX(-50%) rotate(360deg);
  }
}